.main {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.post {
    width: 42.5%;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .post {
        width: 80%;
    }
}

.post img {
    border-radius: 15px;
    width: 100%;
}

.post p {
    padding: 15px;
}

.post h1 {
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}

.paginator div {
    margin: 25px;
}

.paginator .active {
    cursor: pointer;
}

.paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179, 179);
}