.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title a,
.title span {
  text-decoration: none;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding: 40px 0px 10px 0px;
}
.title,
.description,
.pronouciation {
  text-align: inherit;
  width: 50%;
}
.description,
.pronouciation
{
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times;
  font-variant: initial;
}
.pronouciation {
  font-size: 1.8rem;
  font-style: italic;
  color: rgb(95, 85, 62);
}