.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title a,
.title span {
  text-decoration: none;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-top: 60px;
}
.title,
.description,
.pronouciation {
  text-align: initial;
  width: 50%;
}
.description,
.pronouciation
{
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times;
  font-variant: initial;
}
.pronouciation {
  font-size: 1.8rem;
  font-style: italic;
  color: rgb(95, 85, 62);
  padding-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    padding-top: 30px;
  }
  .title,
  .description,
  .pronouciation {
    text-align: inherit;
    width: 87.5%;
  }
  .description,
  .pronouciation
  {
    font-size: 1.35rem;
  }
  .pronouciation {
    font-size: 1.8rem;
  }
}